body{
margin:0;
background:black;
color:white;
font-family:sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
}

#loading{
text-align:center;
width:90%;
max-width:450px;
}

h1{
font-size:32px;
}

p{
font-size:20px;
line-height:1.8;
}

input{
width:100%;
padding:15px;
margin-top:25px;
font-size:20px;
border-radius:10px;
border:none;
}

button{
margin-top:20px;
padding:15px 35px;
font-size:20px;
border:none;
border-radius:10px;
cursor:pointer;
}
